In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('empleados.csv', delimiter=";")

In [3]:
print(df)

        Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
0    Alexandro  Masculino     Soltero(a)  22.0            3     2423       No
1       Felipa   Femenino     Soltero(a)  26.0            5     2639       No
2       Daniel  Masculino      Casado(a)  35.0           10     3122       No
3         John  Masculino      Casado(a)  35.0           13     3431       SÃ­
4      Ruperta   Femenino      Casado(a)  54.0           18     3962       No
..         ...        ...            ...   ...          ...      ...      ...
186   Hernando  Masculino  Divorciado(a)  29.0            4     2510       No
187       Vito  Masculino  Divorciado(a)  22.0            4     2530       No
188       Jose  Masculino      Casado(a)  30.0            6     2760       No
189    Marcelo  Masculino  Divorciado(a)  44.0           15     3616       No
190    Leandro  Masculino      Casado(a)  37.0           11     3245       No

             Departamento
0              Publicidad
1               Comercial
2               Comercial
3    Servicios al cliente
4                Producto
..                    ...
186                    IT
187              Producto
188  Servicios al cliente
189                    IT
190              Finanzas

[191 rows x 8 columns]

In [5]:
print(df.isnull().sum())

Nombre           0
Sexo             0
Estado_Civil     0
Edad            46
Experiencia      0
Salario          0
Gerencia         0
Departamento     0
dtype: int64

In [6]:
df['Edad'] = df['Edad'].fillna(df['Edad'].mean())

In [7]:
print(df.isnull().sum())

Nombre          0
Sexo            0
Estado_Civil    0
Edad            0
Experiencia     0
Salario         0
Gerencia        0
Departamento    0
dtype: int64