In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('empleados.csv', delimiter=";")

In [5]:
print(df.head(20))

       Nombre  Apellido       Sexo   Estado_Civil  Edad  Experiencia  Salario  \
0   Alexandro       NaN  Masculino     Soltero(a)  22.0          3.0   2423.0
1      Carlos       NaN  Masculino      Casado(a)  38.0         10.0   3132.0
2      Felipa       NaN   Femenino     Soltero(a)  26.0          5.0   2639.0
3      Daniel       NaN  Masculino      Casado(a)  35.0         10.0   3122.0
4        John       NaN  Masculino      Casado(a)  35.0         13.0   3431.0
5      Edward       NaN  Masculino     Soltero(a)   NaN          NaN   4500.0
6     Ruperta       NaN   Femenino      Casado(a)  54.0         18.0   3962.0
7       Amaya       NaN   Femenino  Divorciado(a)  22.0          3.0   2450.0
8   Francisca       NaN   Femenino     Soltero(a)  27.0          4.0   2564.0
9      Selena       NaN   Femenino      Casado(a)  24.0          6.0   2709.0
10       Febe       NaN   Femenino      Casado(a)  44.0         22.0   4359.0
11     Ximena       NaN   Femenino     Soltero(a)  58.0         24.0   4532.0
12      David       NaN  Masculino  Divorciado(a)  20.0          1.0   1977.0
13        Max       NaN  Masculino  Divorciado(a)  39.0          8.0   2953.0
14     Selena       NaN   Femenino      Casado(a)  24.0          6.0   2709.0
15        NaN       NaN   Femenino            NaN  44.0         22.0      NaN
16      Paula       NaN   Femenino  Divorciado(a)  55.0         12.0   3306.0
17        Tim       NaN  Masculino  Divorciado(a)  22.0          4.0   2518.0
18     Andrew       NaN  Masculino  Divorciado(a)   NaN         10.0   3194.0
19     Gloria       NaN   Femenino      Casado(a)  31.0         11.0   3267.0

   Gerencia          Departamento
0        No            Publicidad
1        Sí                   NaN
2        No             Comercial
3        No             Comercial
4        Sí  Servicios al cliente
5        No                 Legal
6        No              Producto
7       NaN             Comercial
8        No                    IT
9        Sí          Contabilidad
10       No                   NaN
11       No                 Legal
12       No      Recursos Humanos
13       No                Ventas
14       Sí          Contabilidad
15      NaN                   NaN
16       No              Producto
17       No      Recursos Humanos
18       No              Producto
19       No  Servicios al cliente

In [6]:
print(df.shape)

(251, 9)

In [7]:
print(df.isnull().sum())

Nombre            6
Apellido        251
Sexo             37
Estado_Civil      4
Edad             61
Experiencia       4
Salario           6
Gerencia         21
Departamento     12
dtype: int64

In [8]:
df.drop("Apellido", axis=1, inplace=True)
df.head()

,Nombre,Sexo,Estado_Civil,Edad,Experiencia,Salario,Gerencia,Departamento
0,Alexandro,Masculino,Soltero(a),22.0,3.0,2423.0,No,Publicidad
1,Carlos,Masculino,Casado(a),38.0,10.0,3132.0,Sí,NaN
2,Felipa,Femenino,Soltero(a),26.0,5.0,2639.0,No,Comercial
3,Daniel,Masculino,Casado(a),35.0,10.0,3122.0,No,Comercial
4,John,Masculino,Casado(a),35.0,13.0,3431.0,Sí,Servicios al cliente