In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('empleados.csv', delimiter=";")

In [4]:
df.shape

(145, 8)

In [9]:
df[df.duplicated]

,Nombre,Sexo,Estado_Civil,Edad,Experiencia,Salario,Gerencia,Departamento
10,Selena,Femenino,Casado(a),24,6,2709,Sí,Contabilidad
34,Lucio,Masculino,Soltero(a),54,12,3317,No,Recursos Humanos

In [10]:
df.drop_duplicates(inplace=True)

In [11]:
df.shape

(143, 8)